***Installing dependencies and Importing Libraries***

In [1]:
pip install selenium

Collecting selenium
  Downloading selenium-4.8.2-py3-none-any.whl (6.9 MB)
     ---------------------------------------- 6.9/6.9 MB 7.9 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (1.26.11)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     ------------------------------------- 384.9/384.9 kB 12.1 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: sortedcontainers in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yagna\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\yagna\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB ? eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.8.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install -U selenium

Requirement already satisfied: selenium in c:\users\yagna\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\yagna\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yagna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\yagna\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yagna\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\yagna\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yagna\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-3.8.5-py2.py3-none-any.whl (27 kB)
Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Requirement already satisfied: tqdm in c:\users\yagna\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: requests in c:\users\yagna\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: packaging in c:\users\yagna\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\yagna\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yagna\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yagna\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yagna\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\yagna\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: colorama in c:\users\yagna\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.0.0 webdriver-manager-3.8.5
Note: you may need to restart the kernel to use updated packages.

In [268]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re
import time
import sqlite3

In [271]:
from_city = input("Flying from: ")
to_city = input("Flying to: ")
day = input("What date (dd/mm/yyyy): ")

Flying from: mco
Flying to: hyd
What date (dd/mm/yyyy): 09/05/2023

In [308]:
url = f"https://www.expedia.ie/Flights-Search?trip=oneway&leg1=from:{from_city},to:{to_city},departure:{day}TANYT&passengers=adults:1,children:0,seniors:0,infantinlap:Y&options=cabinclass:economy&mode=search&origref=www.expedia.ie"

print(f"URL: {url}")

URL: https://www.expedia.ie/Flights-Search?trip=oneway&leg1=from:mco,to:hyd,departure:09/05/2023TANYT&passengers=adults:1,children:0,seniors:0,infantinlap:Y&options=cabinclass:economy&mode=search&origref=www.expedia.ie

In [309]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
driver.get(url)
time.sleep(10)
soup = BeautifulSoup(driver.page_source,  "lxml")
driver.quit()

In [310]:
results = soup.find_all('div',{"class":"uitk-card uitk-card-roundcorner-all uitk-spacing uitk-spacing-margin-blockend-three uitk-card-has-primary-theme"})
#print(results)

In [311]:
import pandas as pd

arrival_=[]
depature=[]
duration_=[]
layovers_=[]
airlines_=[]
price_=[]
for result in results:
    arrival = result.find('div',{"data-test-id":"arrival-time"})
    arrival_text = arrival.text.strip()
    a = arrival_text.split('-')
    arrival_.append(a[0])
    a1=a[1].split('+')
    depature.append(a1[0])
    duration = result.find('div',{"data-test-id":"journey-duration"})
    duration_text = duration.text.strip()
    d= duration_text.split('(')
    duration_.append(d[0])
    layovers = result.find('div',{'data-test-id':"layovers"})
    layovers_text=layovers.text.strip()
    layovers_.append(layovers_text)
    airlines=result.find('div',{'data-test-id':'flight-operated'})
    airlines_text=airlines.text.strip()
    al=airlines_text.split("•")
    airlines_.append(al[0])
    price = result.find('div',{'data-test-id':'price-column'})
    price_text=price.text.strip()
    p=price_text.split("€")
    text=p[1].replace(",","")
    price_.append(float(text)*1.20)

In [312]:
data ={"arrival": arrival_,"depature" : depature, "duration" : duration_ , "layovers" : layovers_ , "airlines": airlines_ , "price" :price_ }

In [313]:
data = pd.DataFrame(data)

In [314]:
data

,arrival,depature,duration,layovers,airlines,price
0,15:38,03:15,26h 7m,4h 11m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
1,12:02,03:15,29h 43m,7h 50m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
2,12:02,03:15,29h 43m,7h 50m in New York (JFK) • 2h 25m in Abu Dhabi...,Etihad Airways,787.2
3,11:00,03:15,30h 45m,8h 53m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
4,08:40,03:15,33h 5m,11h 13m in New York (JFK) • 2h 25m in Abu Dhab...,Etihad Airways,787.2

In [315]:
url1= f"https://www.studentuniverse.com/flights/1/{from_city}/{to_city}/2023-05-09?flexible=false&premiumCabins=false&source=cmsPage"

In [316]:
print(f"URL: {url1}")

URL: https://www.studentuniverse.com/flights/1/mco/hyd/2023-05-09?flexible=false&premiumCabins=false&source=cmsPage

In [317]:
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
driver.get(url1)
time.sleep(10)
soup = BeautifulSoup(driver.page_source,  "lxml")
driver.quit()

In [318]:
results_su= soup.find_all('div',{"class":"itinerary__container"})
#print(results)

In [319]:
arrival_=[]
depature=[]
duration_=[]
layovers_=[]
airlines_=[]
price_=[]

for result in results_su:
    #print(result)
    airlines=result.find('p',{"class":"mb-0 ng-binding ng-scope"})
    if(airlines == None):
        continue
    airlines_text=airlines.text.strip()
    airlines_.append(airlines_text)
    duration=result.find('span',{"id":"duration0"})
    duration_text=duration.text.strip()
    duration_.append(duration_text)
    departure = result.find('span',{"id":"departureTime0"})
    departure_text = departure.text.strip()
    depature.append(departure_text)
    arrival = result.find('span',{"id":"arrivalTime0"})
    arrival_text = arrival.text.strip()
    arrival_.append(arrival_text)
    layovers = result.find('div',{"class":"leg-summary__connections d-none d-sm-block ng-scope"})
    layovers_text = layovers.text.strip()
    layovers_.append(layovers_text)
    price = result.find('span',{"context":"priceBreakdown"})
    price_text = price.text.strip()
    price_text=price_text.split('$')
    text=price_text[1].replace(",","")
    price_.append(float(text))

In [320]:
data_su ={"arrival": arrival_,"depature" : depature, "duration" : duration_ , "layovers" : layovers_ , "airlines": airlines_ , "price" :price_ }

In [321]:
data_su = pd.DataFrame(data_su)

In [322]:
data_su

   arrival depature duration         layovers            airlines   price
0    6:55a   12:45p  32h 40m  (BOS, AMS, BOM)                 KLM   789.0
1    6:55a   11:20a   34h 5m  (JFK, CDG, BOM)          Air France   792.0
2    8:20a   11:20a  35h 30m  (JFK, CDG, BOM)          Air France   792.0
3    3:05a    5:57p  23h 38m       (EWR, DXB)     United Airlines   914.0
4    7:40p    6:13a  27h 57m       (ORD, AUH)      Etihad Airways  1242.0
5    8:40a    8:01p   27h 9m       (LHR, DEL)     Virgin Atlantic  1421.0
6   10:20a    8:01p  28h 49m       (LHR, DEL)     Virgin Atlantic  1421.0
7    3:45p    8:01p  34h 14m       (LHR, DEL)     Virgin Atlantic  1421.0
8    5:20p    8:01p  35h 49m       (LHR, DEL)     Virgin Atlantic  1421.0
9    6:50p    8:01p  37h 19m       (LHR, BOM)     Virgin Atlantic  1421.0
10   7:25p    8:01p  37h 54m       (LHR, DEL)     Virgin Atlantic  1421.0
11   9:45p    7:35p  40h 40m       (SFO, SIN)  Singapore Airlines  1437.0
12   5:15a    8:50p  22h 55m            (LGW)     British Airways  1539.0
13   9:45p    2:06p   46h 9m  (IAH, MAN, SIN)  Singapore Airlines  1553.0
14   9:25a    3:45p  32h 10m       (EWR, DEL)     United Airlines  1609.0
15   9:25a    2:45p  33h 10m       (EWR, DEL)     United Airlines  1609.0
16   9:25a    1:19p  34h 36m       (EWR, DEL)     United Airlines  1609.0
17   9:25a   12:05p  35h 50m       (EWR, DEL)     United Airlines  1609.0

In [323]:
data_final= data.append(data_su,ignore_index=True)

C:\Users\yagna\AppData\Local\Temp\ipykernel_2240\3110608150.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_final= data.append(data_su,ignore_index=True)

In [324]:
data_final.sort_values('price',ascending= True)

,arrival,depature,duration,layovers,airlines,price
0,15:38,03:15,26h 7m,4h 11m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
1,12:02,03:15,29h 43m,7h 50m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
2,12:02,03:15,29h 43m,7h 50m in New York (JFK) • 2h 25m in Abu Dhabi...,Etihad Airways,787.2
3,11:00,03:15,30h 45m,8h 53m in New York (JFK) • 2h 25m in Abu Dhabi...,Multiple airlines,787.2
4,08:40,03:15,33h 5m,11h 13m in New York (JFK) • 2h 25m in Abu Dhab...,Etihad Airways,787.2
5,6:55a,12:45p,32h 40m,"(BOS, AMS, BOM)",KLM,789.0
6,6:55a,11:20a,34h 5m,"(JFK, CDG, BOM)",Air France,792.0
7,8:20a,11:20a,35h 30m,"(JFK, CDG, BOM)",Air France,792.0
8,3:05a,5:57p,23h 38m,"(EWR, DXB)",United Airlines,914.0
9,7:40p,6:13a,27h 57m,"(ORD, AUH)",Etihad Airways,1242.0
15,7:25p,8:01p,37h 54m,"(LHR, DEL)",Virgin Atlantic,1421.0
14,6:50p,8:01p,37h 19m,"(LHR, BOM)",Virgin Atlantic,1421.0
13,5:20p,8:01p,35h 49m,"(LHR, DEL)",Virgin Atlantic,1421.0
11,10:20a,8:01p,28h 49m,"(LHR, DEL)",Virgin Atlantic,1421.0
10,8:40a,8:01p,27h 9m,"(LHR, DEL)",Virgin Atlantic,1421.0
12,3:45p,8:01p,34h 14m,"(LHR, DEL)",Virgin Atlantic,1421.0
16,9:45p,7:35p,40h 40m,"(SFO, SIN)",Singapore Airlines,1437.0
17,5:15a,8:50p,22h 55m,(LGW),British Airways,1539.0
18,9:45p,2:06p,46h 9m,"(IAH, MAN, SIN)",Singapore Airlines,1553.0
21,9:25a,1:19p,34h 36m,"(EWR, DEL)",United Airlines,1609.0
19,9:25a,3:45p,32h 10m,"(EWR, DEL)",United Airlines,1609.0
20,9:25a,2:45p,33h 10m,"(EWR, DEL)",United Airlines,1609.0
22,9:25a,12:05p,35h 50m,"(EWR, DEL)",United Airlines,1609.0